<h1> Here is your selected news story's information: </h1>

<%= "Title: #{@rew.title}" %> <br>
<%= "Story #{@rew.story}" %> <br>
<%= "Category: #{@rew.category}" %> <br>
<%= "Upvotes: #{@rew.upvotes}" %> <br>

<h3> <%= link_to "Select another news story", root_path %> </h3>