<h1> Here is your selected pet's information: </h1>

<%= "Name: #{@pet.name}" %> <br>
<%= "Age: #{@pet.age}" %> <br>
<%= "Gender: #{@pet.gender}" %> <br>
<%= "Species: #{@pet.species}" %>

<h3> <%= link_to "Select a new pet", root_path %></h3>